<div>
    <div class="bar bar-header bar-positive">
        <button class="button" ng-click="listMsg()">同步訊息</button>
        <h1 class="title">{{friend.name}}</h1>
        <button class="button" ng-click="scrollBottom()">滑到底部</button>
    </div>
    <ion-content has-header="true" padding="true" class="fk-background">
        <div class="list" style="padding-bottom: 50px;">
            <div class="item item-divider item-text-wrap" ng-repeat="chat in friend.chats | orderObjectBy:'messageId'" style="{{chat.sender != friend.phone ? 'text-align: right;' : ''}}">
                <div ng-click="clickMessage(chat)" ng-swipe-right="AddReminder(chat)">
                    <img ng-show="chat.sender == friend.phone" ng-src="{{friend.photo}}" style="height: 30px;" />
                    <i class="icon ion-location" ng-show="chat.type === 1"></i>
                    &nbsp;{{chat.message}}
                </div>
                <div style="font.weight: narmal;font-size: 10px;">
                    <span ng-show="chat.isRead">已讀&nbsp;&nbsp;</span>
                    <span>{{chat.timestamp | date:'MM/dd a h:mm'}}</span>
                </div>
            </div>
        </div>
        <!--
        style="{{chat.sender != friend.phone ? 'text-align: right;' : ''}}"
    -->
    </ion-content>
    <div class="bar bar-footer bar-positive row">
        <button class="button col col-50" ng-click="toTypeMessage()">
            輸入訊息
        </button>
        <button class="button col col-33" ng-click="toSendLocation()" ng-disabled="waitSendingLocation">
            傳送位置
        </button>
        <!--
        <div class="title" ng-click="toTypeMessage()"></div>
        -->
    </div>
</div>