<div>
    <div class="bar bar-header bar-positive">
        <label class="item item-divider col-25">
            {{friend.name}}
        </label>
        <label class="item item-input col-67">
            <input id="message" type="text" placeholder="Message..." ng-model="message" ng-change="inputSaver('message', message)"/>
        </label>
        <div class="buttons form-input">
            <button class="button button-dark" ng-click="send()">送 岀</button>
        </div>
    </div>
    <ion-content has-header="true" padding="true">
        <div class="list">
            <div class="item item-divider item-text-wrap" ng-repeat="chat in chats | orderBy:predicate:reverse" style="{{chat.phone != friend.phone ? 'text-align: right;' : ''}}">
                <div>
                    <img ng-show="chat.phone == friend.phone" ng-src="{{friend.photo}}" style="height: 30px;" />&nbsp;
                    {{chat.message}}
                </div>
                <div style="font.weight: narmal;font-size: 10px;">
                    <span ng-show="isRead(chat)">已讀&nbsp;&nbsp;</span>
                    <span>{{chat.timestamp*1000 | date:'a h:mm'}}</span>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</div>