<div>
	<ion-content has-header="true" padding="true">
		<div class="list card">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">電話: </span>
					<input type="tel" ng-model="loginForm.phone" placeholder="Type Phone Number">
				</label>
				<label class="item item-input">
					<span class="input-label">密碼: </span>
					<input type="password" ng-model="loginForm.password" placeholder="Type Password">
				</label>
			</div>
			<div class="list">
				<a class="item button button-energized button-block fk-bloder" ng-click="doFKLogin()">
					登入
				</a>
			<div>
		</div>
	</ion-content>
</div>