<div>
	<ion-content has-header="false" padding="true" style="text-align: center;" class="fk-background">
		<button class="button button-positive" style="width: 75%;margin-top: 140px;"
			ng-click="loginActions[loginType.Facebook]()">
			<span class="fk-bloder">Facebook</span> &nbsp; Login
		</button>
		<button class="button button-positive" style="width: 75%;margin-top: 20px;"
			ng-click="loginActions[loginType.FKTalk]()">
			<span class="fk-bloder">FKTalk</span> &nbsp; Login
		</button>
		<button class="button button-energized" style="width: 75%;margin-top: 50px;"
			ng-click="loginActions[loginType.Register]()">
			<span class="fk-bloder">Register</span>
		</button>
	</ion-content>
</div>