<div>
    <ion-header-bar
        type="bar-positive"
        left-buttons="leftButtons"
        right-buttons="rightButtons" 
        title="'F.K-Talk'" ng-init="init()">
    </ion-header-bar>
	<ion-content has-header="true" padding="true">
			<div class="list card">
				<div class="list">
					<label class="item item-input">
					    <span class="input-label">電話: </span>
					    <input type="tel" ng-model="host.phone">
					</label>
					<label class="item item-input">
					    <span class="input-label">密碼: </span>
					    <input type="tel" ng-model="host.phone">
					</label>
				</div>
				<div class="list">
					<a class="item button button-energized button-block fk-bloder">登入</a>
				<div>
				<div class="list">
					<a class="item button button-calm button-block fk-bloder">免費註冊</a>
				<div>
			</div>
	</ion-content>
</div>