<div>
	<ion-content has-header="true" padding="true" style="text-align: center;">
		<button class="button button-positive" style="width: 75%;margin-top: 100px;"
			ng-click="LoginAction(LoginType.Facebook)">
			<span class="fk-bloder">Facebook</span> &nbsp; Login
		</button>
		<button class="button button-positive" style="width: 75%;margin-top: 20px;"
			ng-click="LoginAction(LoginType.FKTalk)">
			<span class="fk-bloder">FKTalk</span> &nbsp; Login
		</button>
	</ion-content>
	<div class="bar bar-footer bar-energized"
		ng-click="LoginAction(LoginType.Register)">
		<div class="title">
			Register
		</div>
	</div>
</div>