<div>
	<ion-content has-header="false" padding="false" 
		style="text-align: center;" class="fk-background">
		<div class="fk-bloder" style="width: 75%;margin: auto;margin-top: 140px;">
			請選擇綁定方式
		</div>
		<button class="button button-positive" style="width: 75%;margin-top: 20px;"
			ng-click="registerActions[loginType.Facebook]()">
			<span class="fk-bloder">Facebook</span>
		</button>
		<button class="button button-positive" style="width: 75%;margin-top: 20px;"
			ng-click="registerActions[loginType.FKTalk]()">
			<span class="fk-bloder">不綁定</span>
		</button>
	</ion-content>
</div>