<div>
	<div class="bar bar-header bar-positive">
		<h1 class="title">設定詢息延後提醒時間</h1>
	</div>
	<ion-content has-header="true" padding="true" class="fk-background">
		<div class="card">
			<div class="item item-divider">
				{{data.title}}
			</div>
			<div class="item item-text-wrap">
				{{data.message}}
			</div>
		</div>
		<div class="list">
			<label class="item item-radio" ng-repeat="time in chooseTime">
				<input type="radio" ng-model="afterTime" ng-value="time" name="afterTime" />
				<div class="item-content">
					{{time.tag}}
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
		</div>
        <button class="button button-energized button-block" ng-click="addGoogleEvent()">
            <span class="fk-bloder">確定</span>
        </button>
	</ion-content>
</div>