<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
    <ion-tab title="好友" icon="icon ion-person-stalker" href="#/tab/FList">
        <ion-nav-view name="tab-friendList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="聊天" icon="icon ion-ios7-photos" href="#/tab/RList">
        <ion-nav-view name="tab-recentList"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Info" icon="icon ion-ios7-photos" href="#/tab/Chat/:uid">
        <ion-nav-view name="tab-chat"></ion-nav-view>
    </ion-tab>
</ion-tabs>